version: '3'
x-common:
  project: todos-prod

services:
  server:
    container_name: server
    build: ./server
    restart: always
    environment:
      MYSQL_HOST:  mysql
      MYSQL_USER: root
      MYSQL_PORT: '3306'
      MYSQL_PASSWORD: '123456'
      MYSQL_DB: devops_p1
    ports: 
      - '80:5000'
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - /app/env
      - ./server:/app
  mysql: 
    container_name: mysql
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: '123456'
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: devops_p1   
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql
  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - '8888:8080' 

volumes:
  mysql_data:
  
